/******************************************************* debug *******************************************************/
/* [class^="col"] {
    border: 1px solid red;
}

section {
    border: 1px solid green;
}

[class^="ddd"] {
    border: 1px solid black;
} */


/******************************************************** utilites ********************************************************/

.w-15 {
    width: 15%;
}

/* personal fonts  */
.personal-font-h {
    font-size: 0.4rem;
}

.personal-font-access {
    font-size: 1rem;
}


/**************************************** personal color background ****************************************/
/* background color splitted  */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(217, 219, 211, 1) 85%, rgba(0, 150, 136, 1) 50%);
}

/* default color backgrond app  */
.app-container {
    background-color: white;
}

/* chat, avatar and search background  */
.bg-personal {
    background-color: #eaeaea;
}

.bg-enter-message {
    background-color: #f3eeea;
}

/* allert desktop */
.bg-personal-desktop {
    background-color: #8edafc;
}

/****************************************** altezze personalizzate ******************************************/
/* grandezza della web app  */
.app-container {
    height: 90vh;
}

/* altezza delle colonne */
.h-100 {
    height: 100%;
}

/* altezza sezione avatar e contatto chat */
.h-alt {
    height: 60px;
}

/* altezza per contenitore del'allert per desktop  */
.h-bell {
    height: 80px;
}

/********************************************* avatar impostazioni  *********************************************/

.avatar-img {
    height: 100%;
    border-radius: 50%;
}

/* controll-chat */
.controls-chat {
    line-height: 60px;
}

/* padding e colore simboli  */
.controls-chat i {
    margin: 0 15px 0 15px;
    color: #b1b1b1;
    font-size: 1.6rem;
}

/************************************************* allert impostazioni *************************************************/

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 1.2rem;
}

/*************************************************** chat impostazioni ***************************************************/

/* avatar immagine chat  */
.img-chat {
    border-radius: 50%;
}

/* text overflow */
.text-overflow {
    height: calc(90vh - (76px + 80px + 54px));
    overflow: auto;
}

.chat-avatar-img {
    width: 60px;
}

.avatar.active {
    background-color: #e9ebeb;
}

/***************************************************** section chat open  *****************************************************/
.chat-open {
    background-image: url(../img/mine.jpg);
    height: calc(90vh - (76px + 60px));
}

.sent {
    margin: 3px 0;
    width: 40%;
    background-color: #d5f9ba;
    border-radius: 5px;
    padding: 10px 10px;
    align-self: flex-end;
}

.received {
    margin: 3px 0;
    width: 40%;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}

.ov {
    overflow: auto;
}


/**************************************************** message send bar  ****************************************************/

.send-pic {
    width: 10%;
}

.send-message {
    width: 100%;
}

.message {
    height: 80%;
    width: 100%;
    border: none;
}